<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiplomR_PasportEko.Properties.Settings.ЭкологПаспортНИКАConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ЭкологПаспортНИКА.mdb"
            providerName="System.Data.OleDb" />
        <add name="DiplomR_PasportEko.Properties.Settings.ЭкологПаспортНИКА2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ЭкологПаспортНИКА2.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>